.App {
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg, #858685, #748942);
  min-height: 100vh;
  color: white;
  font-family: 'Vazirmatn', sans-serif;
}

.game-button {
  background: #4f5586;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 1.1rem;
  border-radius: 50px;
  cursor: pointer;
  margin: 15px;
}

.game-button:hover {
  background: #2c3589;
  box-shadow: 0 4px 15px rgb(168, 255, 130);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 30px auto;
}

.win-message {
  background: #2c3589;
  color: gold;
  padding: 20px;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 400px;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 600px) {
   .cards-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
}

@media (max-width: 900px) {
  .cards-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}